<div class="new-blog">
  <% if @blog.errors.any? %>
    <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_for @blog, url: user_blogs_path, html: { class: "col s12" } do |b| %>
    <div class="row">
      <div class="input-field col s6">
        <%= b.text_field :title , placeholder: "Enter title", id: "blog-title", type: "text", class: "validate" %>
      </div>
      <div class="input-field col s12">
        <%= b.text_area :body, id: "icon_prefix2", class: "materialize-textarea", placeholder: "Fire your idea!" %>
        <label for="icon_prefix2"></label>
      </div>
    </div>
    <%= b.submit "Post", class: "waves-effect waves-light btn-small" %>
  <% end %>
</div>
